{{ appSummaryList({
  heading: {
    text: "Business details",
    classes: "govuk-heading-l"
  },
  actions: [
    {
      href: "/business-details",
      text: "Change",
      visuallyHiddenText: "your business details",
      classes: "app-c-summary-list__edit-section-link"
    }
  ],
  classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Company name"
      },
      value: {
        text: data['answers']['company']['name']
      }
    },
    {
      key: {
        text: "Company registered in the UK"
      },
      value: {
        text: data['answers']['company']['registered'] | capitalize
      }
    },
    {
      key: {
        text: "Company number"
      },
      value: {
        text: data['answers']['company']['number']
      }
    } if data['answers']['company']['number'] | length,
    {
      key: {
        text: "Company size"
      },
      value: {
        text: data['answers']['company']['size'] | getCompanySizeAsString
      }
    },
    {
      key: {
        text: "Company location"
      },
      value: {
        text: data['answers']['company']['location'] | getLocationAsString + (" (" + data['answers']['company']['postcode'] | upper + ")" if data['answers']['company']['postcode'] | length)
      }
    }
  ]
}) }}
