{# <h2 class="govuk-heading-l">What are your contact details?</h2> #}

{{ appSummaryList({
  heading: {
    text: "Contact details",
    classes: "govuk-heading-l"
  },
  actions: [
    {
      href: "/contact-details",
      text: "Change",
      visuallyHiddenText: "your contact details",
      classes: "app-c-summary-list__edit-section-link"
    }
  ],
  rows: [
    {
      key: {
        text: "Name of main contact"
      },
      value: {
        text: data['answers']['contact']['name']
      }
    },
    {
      key: {
        text: "Role of main contact"
      },
      value: {
        text: data['answers']['contact']['role']
      }
    },
    {
      key: {
        text: "Phone number of main contact"
      },
      value: {
        text: data['answers']['contact']['phone']
      }
    },
    {
      key: {
        text: "Email address of main contact"
      },
      value: {
        text: data['answers']['contact']['email']
      }
    }
  ]
}) }}

{#{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name of main contact"
      },
      value: {
        text: data['answers']['contact']['name']
      },
      actions: {
        items: [
          {
            href: "/contact-details",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Role of main contact"
      },
      value: {
        text: data['answers']['contact']['role']
      },
      actions: {
        items: [
          {
            href: "/contact-details",
            text: "Change",
            visuallyHiddenText: "role"
          }
        ]
      }
    },
    {
      key: {
        text: "Phone number of main contact"
      },
      value: {
        text: data['answers']['contact']['phone']
      },
      actions: {
        items: [
          {
            href: "/contact-details",
            text: "Change",
            visuallyHiddenText: "phone number"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address of main contact"
      },
      value: {
        text: data['answers']['contact']['email']
      },
      actions: {
        items: [
          {
            href: "/contact-details",
            text: "Change",
            visuallyHiddenText: "email address"
          }
        ]
      }
    }
  ]
}) }#}

<hr class="govuk-section-break govuk-section-break--l">
