{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Can you offer medical equipment?"
      },
      value: {
        text: data['answers']['offer-medical-equipment'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/medical-equipment",
            text: "Change",
            visuallyHiddenText: "whether you can offer medical equipment"
          }
        ]
      }
    },
    {
      key: {
        text: "What kind of business are you?"
      },
      value: {
        text: data['answers']['business-type'] | arrayToList
      },
      actions: {
        items: [
          {
            href: "/business-type",
            text: "Change",
            visuallyHiddenText: "whether you can offer medical equipment"
          }
        ]
      }
    },
    {
      key: {
        text: "Can you offer accommodation?"
      },
      value: {
        text: data['answers']['offer-accommodation'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/accommodation",
            text: "Change",
            visuallyHiddenText: "whether you can offer accommodation"
          }
        ]
      }
    },
    {
      key: {
        text: "How many rooms can you offer?"
      },
      value: {
        text: data['answers']['accommodation']['quantity'] | numeral('0,00')
      },
      actions: {
        items: [
          {
            href: "/accommodation-details",
            text: "Change",
            visuallyHiddenText: "how many rooms you can offer"
          }
        ]
      }
    } if data['answers']['offer-accommodation'] in ["yes_people","yes_any"],
    {
      key: {
        text: "Can you offer transport or logistics?"
      },
      value: {
        text: data['answers']['offer-transport-logistics'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/transport-logistics",
            text: "Change",
            visuallyHiddenText: "whether you can offer transport or logistics"
          }
        ]
      }
    },
    {
      key: {
        text: "What kind of transport or logistics services can you offer?"
      },
      value: {
        text: data['answers']['transport-logistics']['type'] | arrayToList | capitalize
      },
      actions: {
        items: [
          {
            href: "/transport-logistics-details",
            text: "Change",
            visuallyHiddenText: "what kind of transport or logistics you can offer"
          }
        ]
      }
    } if data['answers']['offer-transport-logistics'] == "yes",
    {
      key: {
        text: "Description of your transport or logistics services"
      },
      value: {
        text: data['answers']['transport-logistics']['description']
      },
      actions: {
        items: [
          {
            href: "/transport-logistics-details",
            text: "Change",
            visuallyHiddenText: "the description of the transport and logistics services you can offer"
          }
        ]
      }
    } if data['answers']['offer-transport-logistics'] == "yes",
    {
      key: {
        text: "Can you offer space?"
      },
      value: {
        text: data['answers']['offer-space'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/space",
            text: "Change",
            visuallyHiddenText: "whether you can offer space"
          }
        ]
      }
    },
    {
      key: {
        text: "What kind of space can you offer?"
      },
      value: {
        text: data['answers']['space']['type'] | arrayToList | capitalize
      },
      actions: {
        items: [
          {
            href: "/space-details",
            text: "Change",
            visuallyHiddenText: "what kind of space you can offer"
          }
        ]
      }
    } if data['answers']['offer-space'] == "yes",
    {
      key: {
        text: "Description of your space"
      },
      value: {
        text: data['answers']['space']['description']
      },
      actions: {
        items: [
          {
            href: "/space-details",
            text: "Change",
            visuallyHiddenText: "the description of the space you can offer"
          }
        ]
      }
    } if data['answers']['offer-space'] == "yes",
    {
      key: {
        text: "Can you offer social care or childcare?"
      },
      value: {
        text: data['answers']['offer-care'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/care",
            text: "Change",
            visuallyHiddenText: "whether you can offer social care or childcare"
          }
        ]
      }
    },
    {
      key: {
        text: "What kind of care can you offer?"
      },
      value: {
        text: data['answers']['care']['type'] | arrayToList | capitalize
      },
      actions: {
        items: [
          {
            href: "/care-details",
            text: "Change",
            visuallyHiddenText: "what kind of care you can offer"
          }
        ]
      }
    } if data['answers']['offer-care'] == "yes",
    {
      key: {
        text: "What qualifications or certificates do you have?"
      },
      value: {
        text: data['answers']['care']['qualifications'] | arrayToList | capitalize
      },
      actions: {
        items: [
          {
            href: "/care-details",
            text: "Change",
            visuallyHiddenText: "what qualifications or certificates you have"
          }
        ]
      }
    } if data['answers']['offer-care'] == "yes",
    {
      key: {
        text: "What kind of expertise can you offer?"
      },
      value: {
        text: data['answers']['expertise'] | arrayToList | replace('_',' ') if data['answers']['expertise'] | length else "I cannot offer expertise"
      },
      actions: {
        items: [
          {
            href: "/expertise",
            text: "Change",
            visuallyHiddenText: "what type of expertise you can offer"
          }
        ]
      }
    },
    {
      key: {
        text: "Can you offer any other kind of support?"
      },
      value: {
        text: data['answers']['other-support'] if data['answers']['other-support'] | length else "I cannot offer any other kind of support"
      },
      actions: {
        items: [
          {
            href: "/other-support",
            text: "Change",
            visuallyHiddenText: "whether you can offer any other kind of support"
          }
        ]
      }
    },
    {
      key: {
        text: "Where can you offer your services?"
      },
      value: {
        text: data['answers']['location'] | arrayToList | replace('_',' ') | capitalize
      },
      actions: {
        items: [
          {
            href: "/location",
            text: "Change",
            visuallyHiddenText: "where you can offer your services"
          }
        ]
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l">
