{%- set businessTypeHtml %}
<ul class="govuk-list govuk-list--bullet">
  {% for item in data['answers']['business-type'] %}
    <li>{{ item | replace("_"," ") | capitalize }}</li>
  {% endfor %}
</ul>
{% endset -%}

{%- set expertiseHtml %}
<ul class="govuk-list govuk-list--bullet">
  {% for item in data['answers']['expertise'] %}
    <li>{{ item | replace("_"," ") | capitalize | replace("It ","IT ") }}</li>
  {% endfor %}
</ul>
{%- if data['answers']['expertise-other'] | length %}
  <p class="govuk-body">{{ data['answers']['expertise-other'] }}</p>
{% endif -%}
{% endset -%}

{%- set locationHtml %}
<ul class="govuk-list govuk-list--bullet">
  {% for item in data['answers']['location'] %}
    <li>{{ item | replace("_"," ") | title | replace("Yorkshire Humber","Yorkshire and the Humber") }}</li>
  {% endfor %}
</ul>
{% endset -%}

{%- set transportTypeHtml %}
<ul class="govuk-list govuk-list--bullet">
  {% for item in data['answers']['transport-logistics']['type'] %}
    <li>{{ item | replace("people","Moving people") | replace("goods","Moving goods") | capitalize }}</li>
  {% endfor %}
</ul>
{%- if data['answers']['transport-logistics']['description'] | length %}
  <p class="govuk-body">{{ data['answers']['transport-logistics']['description'] }}</p>
{% endif -%}
{% endset -%}

{%- set qualificationsHtml %}
<ul class="govuk-list govuk-list--bullet">
  {% for item in data['answers']['care']['qualifications'] %}
    <li>{{ item | replace("dbs","DBS check") | replace("healthcare","Nursing or other healthcare qualifications") }}</li>
  {% endfor %}
</ul>
{%- if data['answers']['care']['description']['healthcare'] | length %}
  <p class="govuk-body">{{ data['answers']['care']['description']['healthcare'] }}</p>
{% endif -%}
{% endset -%}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Can you offer medical equipment?"
      },
      value: {
        text: data['answers']['offer-medical-equipment'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/medical-equipment",
            text: "Change",
            visuallyHiddenText: "whether you can offer medical equipment"
          }
        ]
      }
    },
    {
      key: {
        text: "What kind of business are you?"
      },
      value: {
        text: businessTypeHtml
      },
      actions: {
        items: [
          {
            href: "/business-type",
            text: "Change",
            visuallyHiddenText: "whether you can offer medical equipment"
          }
        ]
      }
    } if data['answers']['business-type'] | length,
    {
      key: {
        text: "Can you offer accommodation?"
      },
      value: {
        text: data['answers']['offer-accommodation'] | replace("yes_any", "Yes – for any use") | replace("yes_people", "Yes – for people to stay in") | capitalize
      },
      actions: {
        items: [
          {
            href: "/accommodation",
            text: "Change",
            visuallyHiddenText: "whether you can offer accommodation"
          }
        ]
      }
    },
    {
      key: {
        text: "How many rooms can you offer?"
      },
      value: {
        text: data['answers']['accommodation']['quantity'] | numeral('0,00')
      },
      actions: {
        items: [
          {
            href: "/accommodation-details",
            text: "Change",
            visuallyHiddenText: "how many rooms you can offer"
          }
        ]
      }
    } if data['answers']['offer-accommodation'] in ["yes_people","yes_any"],
    {
      key: {
        text: "Can you offer transport or logistics?"
      },
      value: {
        text: data['answers']['offer-transport-logistics'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/transport-logistics",
            text: "Change",
            visuallyHiddenText: "whether you can offer transport or logistics"
          }
        ]
      }
    },
    {
      key: {
        text: "What kind of transport or logistics services can you offer?"
      },
      value: {
        html: transportTypeHtml
      },
      actions: {
        items: [
          {
            href: "/transport-logistics-details",
            text: "Change",
            visuallyHiddenText: "what kind of transport or logistics you can offer"
          }
        ]
      }
    } if data['answers']['offer-transport-logistics'] == "yes",
    {
      key: {
        text: "Description of your transport or logistics services"
      },
      value: {
        text: data['answers']['transport-logistics']['description']
      },
      actions: {
        items: [
          {
            href: "/transport-logistics-details",
            text: "Change",
            visuallyHiddenText: "the description of the transport and logistics services you can offer"
          }
        ]
      }
    } if data['answers']['offer-transport-logistics'] == "yes",
    {
      key: {
        text: "Can you offer space?"
      },
      value: {
        text: data['answers']['offer-space'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/space",
            text: "Change",
            visuallyHiddenText: "whether you can offer space"
          }
        ]
      }
    },
    {
      key: {
        text: "What kind of space can you offer?"
      },
      value: {
        text: data['answers']['space']['type'] | arrayToList | capitalize
      },
      actions: {
        items: [
          {
            href: "/space-details",
            text: "Change",
            visuallyHiddenText: "what kind of space you can offer"
          }
        ]
      }
    } if data['answers']['offer-space'] == "yes",
    {
      key: {
        text: "Description of your space"
      },
      value: {
        text: data['answers']['space']['description']
      },
      actions: {
        items: [
          {
            href: "/space-details",
            text: "Change",
            visuallyHiddenText: "the description of the space you can offer"
          }
        ]
      }
    } if data['answers']['offer-space'] == "yes",
    {
      key: {
        text: "Can you offer social care or childcare?"
      },
      value: {
        text: data['answers']['offer-care'] | capitalize
      },
      actions: {
        items: [
          {
            href: "/care",
            text: "Change",
            visuallyHiddenText: "whether you can offer social care or childcare"
          }
        ]
      }
    },
    {
      key: {
        text: "What kind of care can you offer?"
      },
      value: {
        text: data['answers']['care']['type'] | arrayToList | capitalize
      },
      actions: {
        items: [
          {
            href: "/care-details",
            text: "Change",
            visuallyHiddenText: "what kind of care you can offer"
          }
        ]
      }
    } if data['answers']['offer-care'] == "yes",
    {
      key: {
        text: "What qualifications or certificates do you have?"
      },
      value: {
        html: qualificationsHtml if data['answers']['care']['qualifications'] | length
      },
      actions: {
        items: [
          {
            href: "/care-details",
            text: "Change",
            visuallyHiddenText: "what qualifications or certificates you have"
          }
        ]
      }
    } if data['answers']['offer-care'] == "yes",
    {
      key: {
        text: "What kind of expertise can you offer?"
      },
      value: {
        html: expertiseHtml if data['answers']['expertise'] | length else "I cannot offer expertise"
      },
      actions: {
        items: [
          {
            href: "/expertise",
            text: "Change",
            visuallyHiddenText: "what type of expertise you can offer"
          }
        ]
      }
    },
    {
      key: {
        text: "Can you offer any other kind of support?"
      },
      value: {
        text: data['answers']['other-support'] if data['answers']['other-support'] | length else "I cannot offer any other kind of support"
      },
      actions: {
        items: [
          {
            href: "/other-support",
            text: "Change",
            visuallyHiddenText: "whether you can offer any other kind of support"
          }
        ]
      }
    },
    {
      key: {
        text: "Where can you offer your services?"
      },
      value: {
        html: locationHtml if data['answers']['location'] | length
      },
      actions: {
        items: [
          {
            href: "/location",
            text: "Change",
            visuallyHiddenText: "where you can offer your services"
          }
        ]
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l">
