// Based on https://github.com/alphagov/govuk_publishing_components/blob/master/app/assets/stylesheets/govuk_publishing_components/components/_input.scss

.app-c-input__wrapper {
  display: flex;
  display: -ms-flexbox; // sass-lint:disable-line no-duplicate-properties

  .app-c-input {
    display: inline-block;
    flex: 0 1 auto;
  }

  .app-c-input:focus {
    z-index: 1; // increase z-index on focus so it appears over the suffix
  }
}

.app-c-input__prefix {
  @include govuk-font($size: 19);

  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  box-sizing: border-box;
  cursor: default; // emphasise non-editable status of prefixes and suffixes
  display: inline-block;
  flex: 0 0 0;
  border-right: 0;
  padding-left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  padding-top: govuk-spacing(1);
  white-space: nowrap;
  width: auto;
  text-align: center;
  height: 40px;
  @if $govuk-typography-use-rem {
    height: govuk-px-to-rem(40px);
  }
  margin-top: 0;
}

.app-c-input__suffix {
  @include govuk-font($size: 19);

  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  box-sizing: border-box;
  cursor: default; // emphasise non-editable status of prefixes and suffixes
  display: inline-block;
  flex: 0 0 0;
  border-left: 0;
  padding-left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  padding-top: govuk-spacing(1);
  white-space: nowrap;
  width: auto;
  text-align: center;
  height: 40px;
  @if $govuk-typography-use-rem {
    height: govuk-px-to-rem(40px);
  }
  margin-top: 0;
}
