{%- set spaceTypeHtml %}
<ul class="govuk-list govuk-list--bullet">
  {% for item in data['answers']['space']['type'] %}
    <li>{{ item | replace("_"," ") | capitalize }} {{ "(" + data['answers']['space']['quantity'][item] | numeral('0,00') + " square feet)" }}</li>
  {% endfor %}
</ul>
{% endset -%}

{{ appSummaryList({
  heading: {
    text: "Space",
    classes: "govuk-heading-l"
  },
  actions: [
    {
      href: "/space",
      text: "Change",
      visuallyHiddenText: "whether you can offer space"
    }
  ],
  rows: [
    {
      key: {
        text: "Can you offer space?"
      },
      value: {
        text: data['answers']['offer-space'] | capitalize
      }
    }
  ]
}) }}

{{ appSummaryList({
  heading: {
    text: "Details of your offer",
    classes: "govuk-heading-m"
  },
  actions: [
    {
      href: "/space-details",
      text: "Change",
      visuallyHiddenText: "whether you can offer space"
    }
  ],
  rows: [
    {
      key: {
        text: "Kind of space you can offer"
      },
      value: {
        html: spaceTypeHtml
      }
    },
    {
      key: {
        text: "Description of your space"
      },
      value: {
        text: data['answers']['space']['description']
      }
    },
    {
      key: {
        text: "How much you will charge"
      },
      value: {
        text: data['answers']['space']['cost'] | getCostAsString
      }
    }
  ]
}) if data['answers']['offer-space'] == "yes" }}

<hr class="govuk-section-break govuk-section-break--l">
