{%- set transportTypeHtml %}
<ul class="govuk-list govuk-list--bullet">
  {% for item in data['answers']['transport']['type'] %}
    <li>{{ item | replace("people","Moving people") | replace("goods","Moving goods") | capitalize }}</li>
  {% endfor %}
</ul>
{% endset -%}

{{ appSummaryList({
  classes: "govuk-summary-list--no-border",
  heading: {
    text: "Transport or logistics",
    classes: "govuk-heading-l"
  },
  actions: [
    {
      href: "/transport",
      text: "Change",
      visuallyHiddenText: "whether you can offer transport"
    }
  ],
  rows: [
    {
      key: {
        text: "Can you offer transport?"
      },
      value: {
        text: data['answers']['offer-transport'] | capitalize
      }
    }
  ]
}) }}

{{ appSummaryList({
    heading: {
    text: "Details of your offer",
    classes: "govuk-heading-m"
  },
  actions: [
    {
      href: "/transport-details",
      text: "Change",
      visuallyHiddenText: "whether you can offer transport"
    }
  ],
  rows: [
    {
      key: {
        text: "Kind of transport or logistics services you can offer"
      },
      value: {
        html: transportTypeHtml
      },
      actions: {
        items: [
          {
            href: "/transport-details",
            text: "Change",
            visuallyHiddenText: "what kind of transport or logistics you can offer"
          }
        ]
      }
    },
    {
      key: {
        text: "Description of your transport or logistics services"
      },
      value: {
        text: data['answers']['transport']['description']
      },
      actions: {
        items: [
          {
            href: "/transport-details",
            text: "Change",
            visuallyHiddenText: "the description of the transport and logistics services you can offer"
          }
        ]
      }
    },
    {
      key: {
        text: "How much you will charge"
      },
      value: {
        text: data['answers']['transport']['cost'] | getCostAsString
      },
      actions: {
        items: [
          {
            href: "/transport-details",
            text: "Change",
            visuallyHiddenText: "how much you would charge for your transport and logistics services"
          }
        ]
      }
    }
  ]
}) if data['answers']['offer-transport'] == "yes" }}

<hr class="govuk-section-break govuk-section-break--l">
