{% extends "layout.html" %}

{% block pageTitle %}
  Can you offer social care or childcare?
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukRadios({
        idPrefix: "another-product",
        name: "answers[another-product]",
        fieldset: {
          legend: {
            text: "Can you offer another product?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('another-product'),
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: true if data['answers']['another-product'] == "yes"
          },
          {
            value: "no",
            text: "No",
            checked: true if data['answers']['another-product'] == "no"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
