{% extends "layout.html" %}

{% block pageTitle %}
  What kind of business are you?
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukCheckboxes({
        idPrefix: "business-type",
        name: "answers[business-type]",
        fieldset: {
          legend: {
            text: "What kind of business are you?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select the best ways to describe your work"
        },
        errorMessage: errors | getErrorMessage('business-type'),
        items: [
          {
            value: "agent",
            text: "Agent",
            checked: checked("answers['business-type']", "agent")
          },
          {
            value: "distributor",
            text: "Distributor",
            checked: checked("answers['business-type']", "distributor")
          },
          {
            value: "individual",
            text: "Individual",
            checked: checked("answers['business-type']", "individual")
          },
          {
            value: "manufacturer",
            text: "Manufacturer",
            checked: checked("answers['business-type']", "manufacturer")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
