{% extends "layout.html" %}

{% block pageTitle %}
  {{ 'Error: ' if errors | length -}} What are your business details?
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What are your business details?
    </h1>

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukInput({
        id: "company-name",
        name: "answers[company][name]",
        label: {
          text: "Company name",
          classes: "govuk-label--s"
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('company-name'),
        value: data['answers']['company']['name'],
        attributes: {
          "autocomplete": "off",
          "autocapitalize": "off"
        }
      }) }}

      {{ govukRadios({
        idPrefix: "company-registered",
        name: "answers[company][registered]",
        fieldset: {
          legend: {
            text: "Is your company registered in the UK?",

            classes: "govuk-fieldset__legend--s"
          }
        },
        errorMessage: errors | getErrorMessage('company-registered'),
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: govukInput({
                      id: "company-number",
                      name: "answers[company][number]",
                      label: {
                        text: "Company number"
                      },
                      hint: {
                        text: "This is the Companies House registration number"
                      },
                      errorMessage: errors | getErrorMessage('company-number'),
                      value: data['answers']['company']['number'],
                      classes: "govuk-input--width-10",
                      attributes: {
                        "autocomplete": "off",
                        "autocapitalize": "off"
                      }
                    })
            },
            checked: true if data['answers']['company']['registered'] == "yes"
          },
          {
            value: "no",
            text: "No",
            checked: true if data['answers']['company']['registered'] == "no"
          }
        ]
      }) }}

      {{ govukRadios({
        idPrefix: "company-size",
        name: "answers[company][size]",
        fieldset: {
          legend: {
            text: "Company size",
            classes: "govuk-label--s"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('company-size'),
        items: [
          {
            value: "under_50",
            text: "Under 50 people",
            checked: true if data['answers']['company']['size'] == "under_50"
          },
          {
            value: "50_to_250",
            text: "50 to 250 people",
            checked: true if data['answers']['company']['size'] == "50_to_250"
          },
          {
            value: "over_250",
            text: "More than 250 people",
            checked: true if data['answers']['company']['size'] == "over_250"
          }
        ]
      }) }}

      {{ govukRadios({
        idPrefix: "company-location",
        name: "answers[company][location]",
        fieldset: {
          legend: {
            text: "Company location",
            classes: "govuk-label--s"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('company-location'),
        items: [
          {
            value: "uk",
            text: "United Kingdom",
            conditional: {
              html: govukInput({
                      id: "company-postcode",
                      name: "answers[company][postcode]",
                      label: {
                        text: "Postcode"
                      },
                      hint: {
                        text: ""
                      },
                      errorMessage: errors | getErrorMessage('company-postcode'),
                      value: data['answers']['company']['postcode'],
                      attributes: {
                        "autocomplete": "off",
                        "autocapitalize": "off"
                      },
                    classes: "govuk-input--width-10"
                    })
            },
            checked: true if data['answers']['company']['location'] == "uk"
          },
          {
            value: "eu",
            text: "European Union",
            checked: true if data['answers']['company']['location'] == "eu"
          },
          {
            value: "row",
            text: "Rest of World",
            checked: true if data['answers']['company']['location'] == "row"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
