
{% extends "layout.html" %}

{% block pageTitle %}
  Offer your products to an NHS Regional Coordination Centre
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Offer your products to an NHS Regional Coordination Centre
    </h1>

    <p class="govuk-body">If you’re offering less than 1,000 items of a personal protective equipment product, you should offer them to an NHS Regional Coordination Centre.</p>

    <h2 class="govuk-heading-l">How to offer your products</h2>

    <p class="govuk-body">Email the centre giving details of the products you’re offering, including whether they <a class="govuk-link" href="https://www.gov.uk/government/publications/technical-specifications-for-personal-protective-equipment-ppe">meet the technical specifications</a>.</p>

    <p class="govuk-body">You can email any centre, but you will have to transport the products yourself or arrange for them to be delivered.</p>

    <p class="govuk-body">You will be contacted as soon as possible if your products are needed.</p>

    <p class="govuk-body govuk-!-font-weight-bold">East of England</p>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.eastofengland-covid19@nhs.net">england.eastofengland-covid19@nhs.net</a></p>
    <p class="govuk-body govuk-!-font-weight-bold">London</p>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.london-covid19@nhs.net">england.london-covid19@nhs.net</a></p>
    <p class="govuk-body govuk-!-font-weight-bold">Midlands</p>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.mids-incident@nhs.net">england.mids-incident@nhs.net</a></p>
    <p class="govuk-body govuk-!-font-weight-bold">North East and Yorkshire</p>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.eprrney@nhs.net">england.eprrney@nhs.net</a></p>
    <p class="govuk-body govuk-!-font-weight-bold">North West</p>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.eprrnw@nhs.net">england.eprrnw@nhs.net</a></p>
    <p class="govuk-body govuk-!-font-weight-bold">South East</p>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.se-incident@nhs.net">england.se-incident@nhs.net</a></p>
    <p class="govuk-body govuk-!-font-weight-bold">South West</p>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.sw-incident1@nhs.net">england.sw-incident1@nhs.net</a></p>

  </div>
</div>

{% endblock %}
