
{% extends "layout.html" %}

{% block pageTitle %}
  Offer your products to an NHS Regional Coordination Centre
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Offer your products to an NHS Regional Coordination Centre
    </h1>

    <p class="govuk-body">Email the centre giving details of the products you’re offering. For each product you should include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the name and type of product</li>
      <li>the amount you can offer</li>
      <li>certification details and information about whether it <a class="govuk-link" href="https://www.gov.uk/government/publications/technical-specifications-for-personal-protective-equipment-ppe">meets the technical specifications</a></li>
      <li>the cost per item</li>
      <li>the lead time</li>
    </ul>

    <p class="govuk-body">You should also include your company name and company number, if you have one.</p>

    <p class="govuk-body">You can email any centre, but you will have to transport the products yourself or arrange for them to be delivered.</p>

    <p class="govuk-body">You will be contacted as soon as possible if your products are needed.</p>

    <h3 class="govuk-heading-m">East of England</h3>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.eastofengland-covid19@nhs.net">england.eastofengland-covid19@nhs.net</a></p>
    <h3 class="govuk-heading-m">London</h3>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.london-covid19@nhs.net">england.london-covid19@nhs.net</a></p>
    <h3 class="govuk-heading-m">Midlands</h3>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.mids-incident@nhs.net">england.mids-incident@nhs.net</a></p>
    <h3 class="govuk-heading-m">North East and Yorkshire</h3>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.eprrney@nhs.net">england.eprrney@nhs.net</a></p>
    <h3 class="govuk-heading-m">North West</h3>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.eprrnw@nhs.net">england.eprrnw@nhs.net</a></p>
    <h3 class="govuk-heading-m">South East</h3>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.se-incident@nhs.net">england.se-incident@nhs.net</a></p>
    <h3 class="govuk-heading-m">South West</h3>
    <p class="govuk-body"><a class="govuk-link" href="mailto:england.sw-incident1@nhs.net">england.sw-incident1@nhs.net</a></p>

    {{ govukButton({
      text: "Continue offering other services",
      href: actions.save,
      classes: "govuk-!-margin-top-5"
    }) }}

  </div>
</div>

{% endblock %}
