{% extends "layout.html" %}

{% block pageTitle %}
  {{ 'Error: ' if errors | length -}} What kind of construction services can you offer?
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukCheckboxes({
        idPrefix: "expertise-construction-type",
        name: "answers[expertise-construction][type]",
        fieldset: {
          legend: {
            text: "What kind of construction services can you offer?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        errorMessage: errors | getErrorMessage('expertise-construction-type'),
        items: [
          {
            value: "building_materials",
            text: "Building materials",
            checked: checked("answers['expertise-construction']['type']", "building_materials")
          },
          {
            value: "building_maintenance",
            text: "Building maintenance",
            checked: checked("answers['expertise-construction']['type']", "building_maintenance")
          },
          {
            value: "constructing_temporary_buildings",
            text: "Constructing temporary buildings",
            checked: checked("answers['expertise-construction']['type']", "constructing_temporary_buildings")
          },
          {
            value: "construction_work",
            text: "Construction work",
            checked: checked("answers['expertise-construction']['type']", "construction_work")
          },
          {
            value: "other",
            text: "Other",
            checked: checked("answers['expertise-construction']['type']", "other")
          }
        ]
      }) }}

      {{ govukTextarea({
        id: "expertise-construction-description",
        name: "answers[expertise-construction][description]",
        label: {
          text: "Give a description of the type of construction services (optional)",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, the amount of work you can do"
        },
        errorMessage: errors | getErrorMessage('expertise-construction-description'),
        value: data['answers']['expertise-construction']['description']
      }) }}

      {{ govukRadios({
        idPrefix: "expertise-construction-cost",
        name: "answers[expertise-construction][cost]",
        fieldset: {
          legend: {
            text: "How much would you charge?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('expertise-construction-cost'),
        items: [
          {
            value: "nothing",
            text: "Nothing, it would be a donation",
            checked: true if data['answers']['expertise-construction']['cost'] == "nothing"
          },
          {
            value: "reduced",
            text: "A reduced price",
            checked: true if data['answers']['expertise-construction']['cost'] == "reduced"
          },
          {
            value: "standard",
            text: "A standard price",
            checked: true if data['answers']['expertise-construction']['cost'] == "standard"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
