{% extends "layout.html" %}

{% block pageTitle %}
  {{ 'Error: ' if errors | length -}} What kind of IT services can you offer?
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukCheckboxes({
        idPrefix: "expertise-it-services-type",
        name: "answers[expertise-it-services][type]",
        fieldset: {
          legend: {
            text: "What kind of IT services can you offer?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        errorMessage: errors | getErrorMessage('expertise-it-services-type'),
        items: [
          {
            value: "broadband_or_wifi",
            text: "Broadband or wifi",
            checked: checked("answers['expertise-it-services']['type']", "broadband_or_wifi")
          },
          {
            value: "laptops_desktops_or_other_computer_equipment",
            text: "Laptops, desktops, or other computer equipment",
            checked: checked("answers['expertise-it-services']['type']", "laptops_desktops_or_other_computer_equipment")
          },
          {
            value: "mobile_phones",
            text: "Mobile phones",
            checked: checked("answers['expertise-it-services']['type']", "mobile_phones")
          },
          {
            value: "video_conferencing",
            text: "Video conferencing",
            checked: checked("answers['expertise-it-services']['type']", "video_conferencing")
          },
          {
            value: "virtual_office_tools",
            text: "Virtual office tools",
            checked: checked("answers['expertise-it-services']['type']", "virtual_office_tools")
          },
          {
            value: "other",
            text: "Other",
            conditional: {
              html: govukTextarea({
                id: "expertise-it-services-description-other",
                name: "answers[expertise-it-services][description][other]",
                label: {
                  text: "Give a description"
                },
                hint: {
                  text: ""
                },
                errorMessage: errors | getErrorMessage('expertise-it-services-description-other'),
                value: data['answers']['expertise-it-services']['description']['other']
              })
            },
            checked: checked("answers['expertise-it-services']['type']", "other")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
