
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">Use this service to tell us how your business might be able to help with the response to coronavirus.</p>

    <p class="govuk-body">The support needed includes things like:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>medical testing equipment</li>
      <li>medical equipment design</li>
      <li>protective equipment for healthcare workers, such as masks, gowns and sanitiser</li>
      <li>hotel rooms</li>
      <li>transport and logistics, for moving goods or people</li>
      <li>manufacturing equipment</li>
      <li>warehouse or office space, for medical use or storage</li>
      <li>expertise or support on IT, manufacturing, construction, project management, procurement or engineering</li>
      <li>social care or childcare</li>
    </ul>

    <p class="govuk-body">You’ll be asked some questions about the type of support you can give. You’ll then be contacted as soon as possible if your support is needed.</p>

    <p class="govuk-body">You’ll need your company number if you have one.</p>

    {{ govukButton({
      text: "Start now",
      href: actions.start,
      isStartButton: true,
      classes: "govuk-!-margin-top-5"
    }) }}

  </div>
</div>

{% endblock %}
