
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">Use this service to tell us how your business might be able to help with the response to coronavirus (COVID-19).</p>

    {{ govukInsetText({
      text: "We do not need new offers of personal protective equipment (PPE) at the moment."
    }) }}

    <p class="govuk-body">You can offer different kinds of support. This includes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>accommodation and hotel rooms</li>
      <li>transport and logistics, for moving goods or people</li>
      <li>manufacturing equipment</li>
      <li>warehouse or office space, for medical use or storage</li>
      <li>construction and engineering services</li>
      <li>IT services</li>
      <li>project management and procurement services</li>
      <li>social care or childcare</li>
      <li>staff, such as cleaners, developers or translators</li>
    </ul>

    {{ govukInsetText({
      html: 'Your business must be registered and have a company number if it’s registered in the UK. If it’s not, you can <a class="govuk-link" href="https://www.gov.uk/volunteering/coronavirus-volunteering">volunteer as an individual</a> instead.'
    }) }}

    <p class="govuk-body">You’ll be asked some questions about the type of support you can give.</p>

    <p class="govuk-body">You’ll be contacted if your support is needed. This can take a few weeks. You might not hear back if your support is not needed.</p>

    {{ govukButton({
      text: "Start now",
      href: actions.start,
      isStartButton: true,
      classes: "govuk-!-margin-top-5"
    }) }}

  </div>
</div>

{% endblock %}
