{% extends "layout.html" %}

{% block pageTitle %}
  {{ 'Error: ' if errors | length -}} Tell us about the product you're offering
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Tell us about the product you're offering
    </h1>

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukInput({
        id: "product-name",
        name: "answers[product][name]",
        label: {
          text: "Name of product",
          classes: "govuk-label--s"
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('product-name'),
        value: data['answers']['product']['name'],
        attributes: {
          "autocomplete": "off",
          "autocapitalize": "off"
        }
      }) }}

      {{ govukRadios({
        idPrefix: "product-type",
        name: "answers[product][type]",
        fieldset: {
          legend: {
            text: "What type of equipment is it?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('product-type'),
        items: [
          {
            value: "ffp3_respirators",
            text: "FFP3 respirators",
            checked: true if data['answers']['product']['type'] == "ffp3_respirators"
          },
          {
            value: "ffp2_respirators",
            text: "FFP2 respirators",
            checked: true if data['answers']['product']['type'] == "ffp2_respirators"
          },
          {
            value: "aprons",
            text: "Aprons",
            checked: true if data['answers']['product']['type'] == "aprons"
          },
          {
            value: "gloves",
            text: "Gloves",
            checked: true if data['answers']['product']['type'] == "gloves"
          },
          {
            value: "iir_face_masks",
            text: "Type IIR face masks",
            checked: true if data['answers']['product']['type'] == "iir_face_masks"
          },
          {
            value: "safety_glasses_visors",
            text: "Safety glasses or visors",
            checked: true if data['answers']['product']['type'] == "safety_glasses_visors"
          },
          {
            value: "alcohol_hand_gel",
            text: "Alcohol hand gel",
            checked: true if data['answers']['product']['type'] == "alcohol_hand_gel"
          },
          {
            value: "gowns",
            text: "Gowns",
            checked: true if data['answers']['product']['type'] == "gowns"
          },
          {
            value: "face_fit_test_kit",
            text: "Face fit test kit",
            checked: true if data['answers']['product']['type'] == "face_fit_test_kit"
          },
          {
            value: "face_fit_test_solution",
            text: "Face fit test solution",
            checked: true if data['answers']['product']['type'] == "face_fit_test_solution"
          },
          {
            value: "swabs",
            text: "Swabs",
            checked: true if data['answers']['product']['type'] == "swabs"
          },
          {
            value: "general_purpose_detergent",
            text: "General purpose detergent",
            checked: true if data['answers']['product']['type'] == "general_purpose_detergent"
          },
          {
            value: "body_bags",
            text: "Body bags",
            checked: true if data['answers']['product']['type'] == "body_bags"
          },
          {
            value: "cleaning_equipment",
            text: "Cleaning equipment",
            checked: true if data['answers']['product']['type'] == "cleaning_equipment"
          },
          {
            value: "clinical_waste_bags",
            text: "Clinical waste bags",
            checked: true if data['answers']['product']['type'] == "clinical_waste_bags"
          },
          {
            divider: "or"
          },
          {
            value: "other",
            text: "Something else",
            conditional: {
              html: govukTextarea({
                      id: "product-type-other",
                      name: "answers[product][type-other]",
                      label: {
                        text: "Give a summary of the type of equipment"
                      },
                      hint: {
                        text: ""
                      },
                      errorMessage: errors | getErrorMessage('product-type-other'),
                      value: data['answers']['product']['type-other']
                    })
            },
            checked: true if data['answers']['product']['type'] == "other"
          }
        ]
      }) }}

      {{ appInput({
        id: "product-quantity",
        name: "answers[product][quantity]",
        label: {
          text: "Quantity of this product",
          classes: "govuk-label--s"
        },
        hint: {
          text: "Approximate amount. For example, 10, 500, 10000"
        },
        suffix: {
          text: "items"
        },
        errorMessage: errors | getErrorMessage('product-quantity'),
        value: data['answers']['product']['quantity'],
        attributes: {
          "autocomplete": "off",
          "autocapitalize": "off"
        },
        classes: "govuk-input--width-10"
      }) }}

      {{ govukInput({
        id: "product-cost",
        name: "answers[product][cost]",
        label: {
          text: "Cost per item, in pounds",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, 23.99. Enter 0 if you will donate it"
        },
        errorMessage: errors | getErrorMessage('product-cost'),
        value: data['answers']['product']['cost'],
        attributes: {
          "autocomplete": "off",
          "autocapitalize": "off"
        },
        classes: "govuk-input--width-10"
      }) }}

      {{ govukInput({
        id: "product-certification",
        name: "answers[product][certification]",
        label: {
          text: "Certification details",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, CE marking or EN standards"
        },
        errorMessage: errors | getErrorMessage('product-certification'),
        value: data['answers']['product']['certification'],
        attributes: {
          "autocomplete": "off",
          "autocapitalize": "off"
        }
      }) }}

      {{ govukRadios({
        idPrefix: "product-location",
        name: "answers[product][location]",
        fieldset: {
          legend: {
            text: "Where is the product made, or stored if it's already made?",
            classes: "govuk-label--s"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('product-location'),
        items: [
          {
            value: "uk",
            text: "United Kingdon",
            conditional: {
              html: govukInput({
                      id: "product-postcode",
                      name: "answers[product][postcode]",
                      label: {
                        text: "Postcode"
                      },
                      hint: {
                        text: ""
                      },
                      errorMessage: errors | getErrorMessage('product-postcode'),
                      value: data['answers']['product']['postcode'] | upper,
                      attributes: {
                        "autocomplete": "off",
                        "autocapitalize": "off"
                      },
                    classes: "govuk-input--width-10"
                    })
            },
            checked: true if data['answers']['product']['location'] == "uk"
          },
          {
            value: "eu",
            text: "European Union",
            checked: true if data['answers']['product']['location'] == "eu"
          },
          {
            value: "row",
            text: "Rest of World",
            checked: true if data['answers']['product']['location'] == "row"
          }
        ]
      }) }}

      {{ govukInput({
        id: "product-url",
        name: "answers[product][url]",
        label: {
          text: "URL of the product specification document (optional)",
          classes: "govuk-label--s"
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('product-url'),
        value: data['answers']['product']['url'],
        attributes: {
          "autocomplete": "off",
          "autocapitalize": "off"
        }
      }) }}

      {{ appInput({
        id: "product-lead-time",
        name: "answers[product][lead-time]",
        label: {
          text: "Lead time, in days",
          classes: "govuk-label--s"
        },
        hint: {
          text: ""
        },
        suffix: {
          text: "days"
        },
        errorMessage: errors | getErrorMessage('product-lead-time'),
        value: data['answers']['product']['lead-time'],
        attributes: {
          "autocomplete": "off",
          "autocapitalize": "off"
        },
        classes: "govuk-input--width-10"
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
