{% extends "layout.html" %}

{% block pageTitle %}
  {{ 'Error: ' if errors | length -}} Tell us about the medical equipment you can offer
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukRadios({
        idPrefix: "medical-equipment-type",
        name: "answers[medical-equipment-type]",
        fieldset: {
          legend: {
            text: "What type of medical equipment or services can you offer?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('medical-equipment-type'),
        items: [
          {
            value: "ppe",
            text: "Personal protective equipment (PPE)",
            hint: {
              text: "For example, masks, detergent and waste bags"
            },
            checked: true if data['answers']['medical-equipment-type'] == "ppe"
          },
          {
            value: "testing",
            text: "Testing facilities",
            hint: {
              text: "For example coronavirus tests, consumables and equipment, or laboratory capacity"
            },
            checked: true if data['answers']['medical-equipment-type'] == "testing"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
