{% extends "layout.html" %}

{% block pageTitle %}
  {{ 'Error: ' if errors | length -}} Can you offer medical equipment?
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {#%- set hintHtml %}
        {{ govukInsetText({
          html: '<p class="govuk-body">If you cannot offer more than 1,000 items of a product you should not use this service. <a class="govuk-link" href="#">Contact your NHS regional incident coordination centre</a>.</p>'
        }) }}
      {% endset -%#}

      {{ govukRadios({
        idPrefix: "medical-equipment",
        name: "answers[offer-medical-equipment]",
        fieldset: {
          legend: {
            text: "Can you offer medical equipment?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('medical-equipment'),
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: true if data['answers']['offer-medical-equipment'] == "yes"
          },
          {
            value: "no",
            text: "No",
            checked: true if data['answers']['offer-medical-equipment'] == "no"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
