{% extends "layout.html" %}

{% block pageTitle %}
  {{ 'Error: ' if errors | length -}} Can you offer staff?
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukRadios({
        idPrefix: "staff",
        name: "answers[offer-staff]",
        fieldset: {
          legend: {
            text: "Can you offer staff?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('staff'),
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: true if data['answers']['offer-staff'] == "yes"
          },
          {
            value: "no",
            text: "No",
            checked: true if data['answers']['offer-staff'] == "no"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
