{% extends "layout.html" %}

{% block pageTitle %}
  {{ 'Error: ' if errors | length -}} What kind of transport or logistics services can you offer?
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) if actions.back | length }}
{% endblock %}

{% block content %}

{% include "./partials/_error-summary.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukCheckboxes({
        idPrefix: "transport-type",
        name: "answers[transport][type]",
        fieldset: {
          legend: {
            text: "What kind of transport or logistics services can you offer?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        errorMessage: errors | getErrorMessage('transport-type'),
        items: [
          {
            value: "people",
            text: "Moving people",
            checked: checked("answers['transport']['type']", "people")
          },
          {
            value: "goods",
            text: "Moving goods",
            checked: checked("answers['transport']['type']", "goods")
          },
          {
            value: "other",
            text: "Other",
            checked: checked("answers['transport']['type']", "other")
          }
        ]
      }) }}

      {{ govukTextarea({
        id: "transport-description",
        name: "answers[transport][description]",
        label: {
          text: "Give a description of the transport or logistics services (optional)",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, how many vehicles you can offer"
        },
        errorMessage: errors | getErrorMessage('transport-description'),
        value: data['answers']['transport']['description']
      }) }}

      {{ govukRadios({
        idPrefix: "transport-cost",
        name: "answers[transport][cost]",
        fieldset: {
          legend: {
            text: "How much would you charge?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: ""
        },
        errorMessage: errors | getErrorMessage('transport-cost'),
        items: [
          {
            value: "nothing",
            text: "Nothing, it would be a donation",
            checked: true if data['answers']['transport']['cost'] == "nothing"
          },
          {
            value: "reduced",
            text: "A reduced price",
            checked: true if data['answers']['transport']['cost'] == "reduced"
          },
          {
            value: "standard",
            text: "A standard price",
            checked: true if data['answers']['transport']['cost'] == "standard"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
